body {
  margin: 0;
  font-family: 'Droid Serif', serif;
}

#layout-menu-box {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 100%;
  z-index: 0;
  background-color: #f4f4f4;
}

#layout-content-box {
  position: relative;
  margin-left: 210px;
  background-color: white;
}

h1 {
  margin-top: 0.5em;
  
}

h2{
    font-family: 'Droid Sans', sans-serif;
}

h3{
    font-family: 'Droid Sans', sans-serif;
    font-style: italic;
}

#layout-banner {
  color: white;
  background-color: #667ea8;
  text-align: left;
  padding: 0.8em 20px;
}

#layout-title {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}

#layout-description {
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

div.workshop-menu{
  margin-bottom: 10px;
}

#layout-menu {
  height: 100%;
  border-right: 3px solid #eeeeee;
  padding-top: 0.8em;
  padding-left: 15px;
  padding-right: 0.8em;
  font-size: 1.0em;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
}

#layout-menu ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

a {
  color:  #667ea8;
  text-decoration: none;  border-bottom:1px dotted;
}

a:hover {
    color:navy;
}

#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color:  #667ea8;
  text-decoration: none;  border-bottom:1px dotted;
}
#layout-menu a:hover {
  color: navy;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  padding-top: 0.2em;
  padding-left: 1.0em;
  padding-right: 0.4em;
  width: 650px;
}

p {
    line-height:1.4;
}

td.content {
    line-height:1.4;
}

@media print {
  #layout-banner-box { display: none; }
  #layout-menu-box { display: none; }
  #layout-content-box { margin-top: 0; margin-left: 0; }
}
